.calculator {
    width: 250px;
    margin: 50px auto;
    border: 2px solid black;
    text-align: center;
    background-image: url("RainbowCode.jpg");
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
}

#display{
    width: 80%;
    padding: 5px;
    margin: 5px auto;
    border: 2px silver ridge;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background: tan;
    opacity: 100%
}

h4{
    color: white
}

.buttons button {
    border: 2px solid black;
    border-radius: 7px;
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 20px; 

    
}